.u-section-1 {
  background-image: none;
}

.u-section-1 .u-gallery-1 {
  margin-top: 30px;
  margin-bottom: 0;
  height: 375px;
}

.u-section-1 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-1 .u-back-image-1 {
  width: 375px;
}

.u-section-1 .u-over-slide-1 {
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-1 .u-back-image-2 {
  width: 375px;
}

.u-section-1 .u-over-slide-2 {
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-1 .u-back-image-3 {
  width: 375px;
}

.u-section-1 .u-over-slide-3 {
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-1 .u-back-image-4 {
  width: 375px;
}

.u-section-1 .u-over-slide-4 {
  padding: 20px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0 40px 0px rgba(213,76,20,0.95);
  background-image: none;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0 40px 0px rgba(213,76,20,0.95);
  background-image: none;
}

.u-section-1 .u-text-1 {
  text-shadow: 0 0 8px rgba(242,72,3,1);
  font-family: "Alegreya Sans SC";
  font-weight: 500;
  margin: 30px auto 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-gallery-1 {
    height: 716px;
    margin-top: 0;
  }

  .u-section-1 .u-gallery-item-1 {
    margin-right: 31px;
  }

  .u-section-1 .u-back-image-1 {
    width: 382px;
  }

  .u-section-1 .u-over-slide-1 {
    transition-duration: 10s;
    padding: 0;
  }

  .u-section-1 .u-gallery-item-2 {
    margin-right: 31px;
  }

  .u-section-1 .u-back-image-2 {
    width: 382px;
  }

  .u-section-1 .u-over-slide-2 {
    transition-duration: 10s;
    padding: 0;
  }

  .u-section-1 .u-gallery-item-3 {
    margin-right: 31px;
  }

  .u-section-1 .u-back-image-3 {
    width: 382px;
  }

  .u-section-1 .u-over-slide-3 {
    transition-duration: 10s;
    padding: 0;
  }

  .u-section-1 .u-gallery-item-4 {
    margin-right: 31px;
  }

  .u-section-1 .u-back-image-4 {
    width: 382px;
  }

  .u-section-1 .u-over-slide-4 {
    transition-duration: 10s;
    padding: 0;
  }

  .u-section-1 .u-gallery-nav-1 {
    left: 24px;
    width: 26px;
    height: 26px;
    top: 345px;
  }

  .u-section-1 .u-gallery-nav-2 {
    width: 26px;
    height: 26px;
    left: auto;
    top: 345px;
    right: 24px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -637px;
    margin-right: calc(((100% - 340px) / 2) + 33px);
    margin-left: calc(((100% - 340px) / 2) + -33px);
  }
}